<section class="bg">
  <div class="container">
    <div class="row formCity">
      <div class="col-xs-12 ndCity">
        <span class="col-xs-10">Nom de ville</span>
        <span class="icoVille col-xs-2 " ng-click="cityCtrl.open()"><i class="fa fa-bars pull-right" aria-hidden="true"></i></span>

      </div>
      <div class="row">
        <div class="form col-xs-12" ng-show="cityCtrl.showBar">
          <div class="containForm">
            <div class="col-xs-12 col-sm-10 ">
              <input name="input" ng-model="cityCtrl.city" class="form-control" ng-focus="cityCtrl.focus(cityCtrl.city)">
            </div>
            <div class="col-xs-12 col-sm-2 ">
              <button type="button" name="button" ng-click="cityCtrl.addthatcity()" class="btn col-xs-12">AJOUTER</button>
            </div>
            <div ng-show="cityCtrl.show">
              <p class="message">{{ cityCtrl.message }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 spacer item" ng-repeat='each in cityCtrl.data'>
      <div class="city  vertical-center">
        <div class="name row">
          <div class="col-xs-10">
            <div class="row">
              <div class="icon col-xs-2">
                <span ng-class="each.ciel"></span>
              </div>
              <div class=" col-xs-10">
                <span class="nName">{{ each.name }}</span>
                <a class="aName" ng-click="cityCtrl.goDetails(each)">
                  <i class="fa fa-info" aria-hidden="true"></i>
  </a>
              </div>
            </div>
            <div class="content">
              <span>{{ each.temp }} °C</span>
            </div>
          </div>
          <div class="col-xs-2 mspacer">
            <div class="nIcon centering ">
              <span ng-click="cityCtrl.remove(cityCtrl.data, $index)"><i class="icon-Cancel"></i></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>